@import "variable";


.connectToServer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 10px;
  
    span{
      width: 100%;
      text-align: center;
  
      img{
        margin: -20px 0px 40px 0px;
      }
  
      h1{
        background-color: $secondary-color;
        color: white;
        padding: 30px;
        border-radius: 5px;
      }
    }
    
  }

  .main-container{
    text-align: center;
    height: 100vh;
    margin-top: 10px;
    width: 100%;

    h6{
      font-weight: bold;
      font-size: 0.7rem;
    }
  }




.container {
  max-width: 600px;
}

.card {
  margin-top: 20px;
}

.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #f0f0f0;
  }
}

